In [13]:
import pandas as pd
import numpy as np
from sklearn import linear_model

In [14]:
df= pd.read_csv('LinearRegressionMultiple.csv')
df

   area  bedrooms  age   price
0  2600       3.0   20  550000
1  3000       4.0   15  565000
2  3200       NaN   18  610000
3  3600       3.0   30  595000
4  4000       5.0    8  760000

In [15]:
import math
median_bedrooms = math.floor(df.bedrooms.median())
median_bedrooms

3

In [16]:
df.bedrooms = df.bedrooms.fillna(median_bedrooms)
df

   area  bedrooms  age   price
0  2600       3.0   20  550000
1  3000       4.0   15  565000
2  3200       3.0   18  610000
3  3600       3.0   30  595000
4  4000       5.0    8  760000

In [17]:
reg = linear_model.LinearRegression()
reg.fit(df[['area','bedrooms','age']],df.price)

LinearRegression()

In [18]:
reg.coef_

array([   137.25, -26025.  ,  -6825.  ])

In [19]:
reg.intercept_

383724.9999999998

In [26]:
reg.predict([[3000,3,40]])

array([444400.])

In [27]:
 137.25*3000-26025.00*3-6825.00*40+383724.9999999998

444399.9999999998

In [38]:
d=pd.read_csv('LinearRegressionMultipletestdata.csv')
d.head(4)

   area  bedrooms  age    prices
0  2400         3   20  498550.0
1  3300         4   15  630175.0
2  3900         8   18  587950.0
3  1600         3   30  320500.0

In [39]:
p = reg.predict(d)
p

ValueError: matmul: Input operand 1 has a mismatch in its core dimension 0, with gufunc signature (n?,k),(k,m?)->(n?,m?) (size 3 is different from 4)

In [24]:
d['prices'] = p
d.to_csv('LinearRegressionMultipletestdata.csv',index=False)
d

NameError: name 'p' is not defined